body{
    margin: 0 auto;
    padding: 0;
  }
  .container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5em;
  }
  .error {
      margin: 50px;
  }
  h3 {
      font-family: monospace;
      font-size: 25px;
  }
  .img {
     width: 50em;
  }
  .content h1 {
    letter-spacing: -0.08em;
    margin-top: 50px;
    font-size: 64px;
    word-spacing: 5px;
    font-family: monospace;
  }
  .content p{
    margin-top: 120px;
    letter-spacing: -0.08em;
    font-size: 25px;
    line-height: 50px;
    font-family: monospace;
  }
  button {
    margin-top: 120px;
    background: #333333;
    color: aliceblue;
    padding: 20px;
    width: 200px;
    font-family: monospace;
    letter-spacing: -0.08em;
  }
  .author {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20em;
    bottom: 0;
    text-align: center;
  }
  a {
    color: #808080;
  }